.background-image{
   background-image: url("./background.png");
   background-size:cover;
   background-repeat:no-repeat;
   background-position: center center;
   height: 100vh;
}

*{
    margin:0;
    padding:0;
}

.overlay{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    width:95%;
    max-width:45em;
    margin: auto auto 1em;
    box-sizing: border-box;
    padding:2em;
    text-align: center; 
}

.overlay img{
    padding-bottom:15%
}

.item3{
    padding-top:10%;
}


